<div class="sidebar">
  <ul class="list">
    <li class="list-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="list-item-icon glyphicon glyphicon-home"></span>
      <span class="list-item-text">Home</span>
    </li>
    <li class="list-item" routerLink="fornecedor" routerLinkActive="active">
      <span class="list-item-icon glyphicon glyphicon-search"></span>
      <span class="list-item-text">Fornecedor</span>
    </li>
  </ul>
</div>
