.sidebar {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10000;
  width: 40px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2), 0 0 5px 5px rgba(0, 0, 0, .1);

  transition: width 1s cubic-bezier(.5, 0, .5, 1.2),
    background-color 1s ease-out;

  @media (min-width: 768px) {
    z-index: 1;
    width: 250px;
  }

  .list {
    list-style: none;
    width: 100%;
    padding: 0 2px;

    .list-item {
      width: 100%;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      transition: background-color .4s ease;
      white-space: nowrap;
      cursor: pointer;

      .list-item-text {
        width: 0;
        opacity: 0;
        transition: opacity .4s ease;
        @media (min-width: 768px) {
          opacity: 1;
          width: auto;
        }
      }
    }

    .list-item.active,
    .list-item:hover {
      background-color: rgba(255, 255, 255, .2);
    }
  }
}
.sidebar:hover {
  background-color: rgba(0, 0, 0, .9);
  width: 250px;

  @media (min-width: 768px) {
    width: 250px;
  }

  .list .list-item .list-item-text {
    width: auto;
    opacity: 1;
  }
}
